<div class="container">
	<div class="row">
    <%= render 'share' %>

		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">
				<h1 class="posttitle"><%= article.title %></h1>
				<span><%= article.created_at.strftime('%d/%m/%Y') %></span>
			</div>

			<%= image_tag article.image.url, class: 'featured-image img-fluid bordered-image' %>

			<div class="article-post">
				<%= raw(article.content) %>
			</div>
		</div>
	</div>
</div>
