<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="sec-title text-center wow animated fadeInDown">
        <h2>Notícias</h2>
      </div>

      <ul class="project-wrapper wow animated fadeInUp">
        <% articles.each do |article| %>
            <li class="portfolio-item" data-alt="<%= article.title %>">
              <%= link_to article_path(article) do %>
                <%= image_tag article.image.url, class: 'img-responsive' %>
              <% end %>
              <figcaption class="mask">
                <h4><%= article.title %></h4>
              </figcaption>
              <ul class="external">
                <li>
                  <%= link_to article.image.url, class: 'fancybox', title: article.title do %>
                    <i class="fa fa-search-plus"></i>
                  <% end %>
                </li>
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= article_url(article) %>" target="_blank">
                    <i class="fa fa-share"></i>
                  </a>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>

      <div id="all-articles-button">
        <%= link_to 'Todas as notícias', article_list_index_path, class: 'btn btn-blue btn-effect' %>
      </div>
    </div>
  </div>
</section>
