<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/google_analytics' %>
    <title>Mungazi</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'article', media: 'all' %>
    <%= javascript_include_tag 'article' %>
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
